<div class="content-container">
    <form [formGroup]="helathStatusForm" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
        <section class="form-section">
            <mat-form-field appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" [formControlName]="'dateOfBirth'">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Gender</mat-label>
                <mat-select name="gender" [formControlName]="'gender'">
                    <mat-option *ngFor="let gender of (genderEnum | enumToArray)" [value]="gender">
                        {{gender}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </section>
        <section class="form-section">
            <label for="weight">Weight: </label>
            <input id="weight" type="text" name="weight" ngDefaultControl [formControlName]="'weight'">

            <label for="height">Height: </label>
            <input id="height" type="text" name="height" ngDefaultControl [formControlName]="'height'">
        </section>

        <section class="form-section">
            <mat-form-field appearance="fill">
                <mat-label>Relationship Status</mat-label>
                <mat-select name="relationshipStatus" [formControlName]="'relationshipStatus'">
                    <mat-option *ngFor="let relationshipStatus of (relationshipStatusEnum | enumToArray)" [value]="relationshipStatus">
                        {{relationshipStatus}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-checkbox name="doHaveKids" class="form-margin" [formControlName]="'doHaveKids'">Do you have kids?</mat-checkbox>
        </section>

        <section class="form-section">
            <mat-form-field appearance="fill">
                <mat-label>Job Type</mat-label>
                <mat-select name="jobType" [formControlName]="'jobType'">
                    <mat-option *ngFor="let jobType of (jobTypeEnum | enumToArray)" [value]="jobType">
                        {{jobType}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Job Activity</mat-label>
                <mat-select name="jobActivity" [formControlName]="'jobActivity'">
                    <mat-option *ngFor="let jobActivity of (jobActivityEnum | enumToArray)" [value]="jobActivity">
                        {{jobActivity}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Living Location</mat-label>
                <mat-select name="livingLocation" [formControlName]="'livingLocation'">
                    <mat-option *ngFor="let livingLocation of (livingLocationEnum | enumToArray)" [value]="livingLocation">
                        {{livingLocation}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Race</mat-label>
                <mat-select name="race" [formControlName]="'race'">
                    <mat-option *ngFor="let race of (raceEnum | enumToArray)" [value]="race">
                        {{race}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </section>

        <section class="form-section">
            <label for="averageSleepTime">Average Sleep Time</label>
            <input id="averageSleepTime" type="text" name="averageSleepTime" [formControlName]="'averageSleepTime'">

            <label for="onScreenTime">On Screen Time</label>
            <input id="onScreenTime" type="text" name="onScreenTime" [formControlName]="'onScreenTime'">
        </section>

        <section class="form-section">
            <label for="averageStressLevel">Average Stress Level</label>
            <mat-slider id="averageStressLevel" thumbLabel [displayWith]="formatLabel" tickInterval="1" step="1" min="0" max="10" aria-label="units" [formControlName]="'averageStressLevel'"></mat-slider>
        </section>

        <section class="form-section">
            <mat-checkbox class="form-margin" name="regularEating" [formControlName]="'regularEating'">Are you a regular eater?</mat-checkbox>

            <label for="mealsPerDay">Meals per day?</label>
            <input id="mealsPerDay" type="text" name="mealsPerDay" [formControlName]="'mealsPerDay'">
        </section>

        <section class="form-section">
            <mat-form-field appearance="fill">
                <mat-label>Eating</mat-label>
                <mat-select name="eating" [formControlName]="'eating'">
                    <mat-option *ngFor="let eating of (eatingEnum | enumToArray)" [value]="eating">
                        {{eating}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Diet</mat-label>
                <mat-select name="diet" [formControlName]="'diet'">
                    <mat-option *ngFor="let diet of (dietEnum | enumToArray)" [value]="diet">
                        {{diet}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Alcohol Regularity</mat-label>
                <mat-select name="alcoholRegularity" [formControlName]="'alcoholRegularity'">
                    <mat-option *ngFor="let alcoholRegularity of (alcoholRegularityEnum | enumToArray)" [value]="alcoholRegularity">
                        {{alcoholRegularity}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </section>

        <section class="form-section">
            <mat-checkbox class="form-margin" name="doSmoke" [formControlName]="'doSmoke'">Do you smoke?</mat-checkbox>
            <mat-checkbox class="form-margin" name="doUseDrugs" [formControlName]="'doUseDrugs'">Do you use drugs?</mat-checkbox>
            <mat-checkbox class="form-margin" name="doHaveGlasses" [formControlName]="'doHaveGlasses'">Do you wear glasses?</mat-checkbox>
            <mat-checkbox class="form-margin" name="doHavePet" [formControlName]="'doHavePet'">Do you have pets?</mat-checkbox>
        </section>

        <button type="button" (click)="submitForm()">Submit</button>
    </form>
</div>